# Исключаем зависимости и скомпилированные файлы
**/node_modules/
**/dist/
**/package-lock.json

# Исключаем файлы окружения с секретными данными
**/.env
**/.env.local
**/.env.development
**/.env.production

# Исключаем временные файлы и редакторские файлы
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.bin
.idea/
.vscode/

